@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom map styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.custom-camera-marker {
  background: transparent !important;
  border: none !important;
}